<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi there, my name is tlt. I'm an industrial engineer by training and have worked as a data scientist for the past 7 years.</p>
      </div>
      <div class="col-lg-4">
        <p>Apart from data crunching, I enjoy fishing and hiking in my free time.</p>
      </div>
    </div>
  </div>
</section>
